@inherits MaxLengthInputsBase
@inject ILogger<MaxLengthTextarea> _logger;

<textarea @ref="_inputRef" value="@Value" maxlength="@MaxAllowedChars" @oninput="OnTextChange" @attributes=AllOtherAttributes />
<label class="@CountdownTextClass">@(CountdownText)@(_remainingChars)</label>