input[type=range] {
    outline: 0;
    -webkit-appearance: none;
}
input[type=range]:disabled {
    pointer-events: none;
    opacity: 0.9;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    box-shadow: 0px 0px 1px 1px #8f8f8f;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    border: none;
    box-shadow: 0px 0px 1px 1px #8f8f8f;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    border: none;
    box-shadow: 0px 0px 1px 1px #8f8f8f;
}