<div class="scrollToPageBottom" @onclick="async () => await _scrollHandler.ScrollToPageEndAsync()">
    @Content
</div>

<style>
    .scrollToPageBottom {
        position: fixed;
        top: 5rem;
        right: 1.5rem;
        z-index: 20;
        cursor: pointer;
    }
</style>

@implements IAsyncDisposable
@inject IScrollHandler _scrollHandler;

@code { 
    protected override async Task OnInitializedAsync()
    {
        await _scrollHandler.RegisterPageScrollAsync(async (e) =>
        {

        });
    }

    [Parameter] public RenderFragment Content { get; set; }

    public async ValueTask DisposeAsync()
    {
        if (_scrollHandler is not null)
        {
            await _scrollHandler.DisposeAsync();
        }
    }
}