<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<div class="sidebar">
	<div class="top-row pl-4 navbar navbar-dark">
		<a class="navbar-brand" href="">@AppName</a>
		<button class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>

	<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
		<ul class="nav flex-column">
			<li class="nav-item px-2">
				<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
					<span class="fa fa-lg fa-home" aria-hidden="true"></span> Home
				</NavLink>
			</li>
			<li class="px-2">
				<div class="nav-group">
					<span><i class="fa fa-lg fa-puzzle-piece" aria-hidden="true"></i>Extensions</span>
					<ul class="nav flex-column">
						<li class="nav-item">
							<NavLink class="nav-link" href="logger">Console logger</NavLink>
						</li>
						<li class="nav-item">
							<NavLink class="nav-link" href="browserstorage">Browser storage</NavLink>
						</li>
						<li class="nav-item">
							<NavLink class="nav-link" href="analytics">Analytics</NavLink>
						</li>
					</ul>
				</div>
			</li>
			<li class="px-2">
				<div class="nav-group">
					<span><i class="fa fa-lg fa-pencil-alt" aria-hidden="true"></i>Inputs</span>
					<ul class="nav flex-column">
						<li class="nav-item">
							<NavLink class="nav-link" href="debounceinput">Debounce</NavLink>
						</li>
						<li class="nav-item">
							<NavLink class="nav-link" href="typeahead">Typeahead</NavLink>
						</li>
						<li class="nav-item">
							<NavLink class="nav-link" href="maxLengthInput">Max Length</NavLink>
						</li>
					</ul>
				</div>
			</li>
			<li class="nav-item px-2">
				<NavLink class="nav-link" href="timer">
					<span class="fa fa-lg fa-stopwatch" aria-hidden="true"></span> Timer Component
				</NavLink>
			</li>
			<li class="nav-item px-2">
				<NavLink class="nav-link" href="loading">
					<span class="fa fa-lg fa-spinner" aria-hidden="true"></span> Loading and Overlays
				</NavLink>
			</li>
			<li class="nav-item px-2">
				<NavLink class="nav-link" href="jsinterop">
					<span class="fab fa-lg fa-js" aria-hidden="true"></span> JS Interop
				</NavLink>
			</li>
			<li class="nav-item px-2">
				<NavLink class="nav-link" href="cssevents">
					<span class="fab fa-lg fa-css3" aria-hidden="true"></span> CSS Events
				</NavLink>
			</li>
			<li class="nav-item px-2">
				<NavLink class="nav-link" href="modal">
					<span class="fa fa-lg fa-window-maximize" aria-hidden="true"></span> Modal Dialog
				</NavLink>
			</li>
			<li class="nav-item px-2">
				<NavLink class="nav-link" href="permalink">
					<span class="fa fa-lg fa-link" aria-hidden="true"></span> Perma link
				</NavLink>
			</li>
			<li class="nav-item px-2">
				<NavLink class="nav-link" href="maps">
					<span class="fa fa-lg fa-map-marked-alt" aria-hidden="true"></span> Maps
				</NavLink>
			</li>
			<li class="nav-item px-2">
				<NavLink class="nav-link" href="toggle">
					<span class="fa fa-lg fa-toggle-on" aria-hidden="true"></span> Toggle
				</NavLink>
			</li>
			<li class="nav-item px-2">
				<NavLink class="nav-link" href="tabs">
					<span class="fa fa-lg fa-pager" style="transform: rotate(180deg); margin-left: -14px; margin-right: 16px;" aria-hidden="true"></span> Tabs
				</NavLink>
			</li>
			<li class="nav-item px-2">
				<NavLink class="nav-link" href="collapse">
					<span class="fa fa-lg fa-chevron-circle-down" aria-hidden="true"></span> Collapse
				</NavLink>
			</li>
			<li class="nav-item px-2">
				<NavLink class="nav-link" href="gdpr">
					<span class="fa fa-lg fa-cookie-bite" aria-hidden="true"></span> GDPR Consents
				</NavLink>
			</li>
			<li class="nav-item px-2">
				<NavLink class="nav-link" href="notifications">
					<span class="fa fa-lg fa-bell" aria-hidden="true"></span> Notifications
				</NavLink>
			</li>
			<li class="nav-item px-2" hidden="hidden">
				<NavLink class="nav-link" href="tooltips">
					<span class="fa fa-lg fa-comment-alt" aria-hidden="true"></span> Tooltips
				</NavLink>
			</li>
			<li class="nav-item px-2" hidden="hidden">
				<NavLink class="nav-link" href="draganddrop">
					<span class="fa fa-lg fa-arrows-alt" aria-hidden="true"></span> Drag and Drop
				</NavLink>
			</li>
			<li class="nav-item px-2" hidden="hidden">
				<NavLink class="nav-link" href="colorpicker">
					<span class="fa fa-lg fa-paint-brush" aria-hidden="true"></span> Color Picker
				</NavLink>
			</li>
		</ul>
	</div>
</div>

@using Microsoft.Extensions.Logging;
@inject ILogger<NavMenu> _logger;
@code {

	[Parameter] public string AppName { get; set; }

	private bool collapseNavMenu = true;
	private string NavMenuCssClass => collapseNavMenu ? "menu collapse" : "menu";

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
		_logger.LogInformation($"Nav menu collapsed status changed: {(NavMenuCssClass ?? "opened")}");
	}
}
