<div class="m-4 text-center text-danger">
	<h1>404 Page not found!</h1>
	<p>
		Sorry, there's nothing at this address.
	</p>
</div>
<div class="m-3">
	<ul>
		<li>Try to enter a valid page URL or use Main menu for navigation. <a href="/">Go to home page</a></li>
		<li>May be an old version of this Blazor App was cached. <strong>Try to use HARD reload (CTRL + F5 or CMD + SHIFT + R).</strong></li>
	</ul>
</div>