<div class="btooltip-container"  @onmouseenter="HandleMouseOver" @onmouseleave="HandleMouseOut" @attributes=AdditionalAttributes>
    @if (_isVisible)
    {
        <span>@Text</span>
    }
    @ChildContent
</div>

@code {
    public bool _isVisible = false;

    /// <summary>
    /// 
    /// </summary>
    [Parameter] public RenderFragment ChildContent { get; set; }

    /// <summary>
    /// 
    /// </summary>
    [Parameter] public string Text { get; set; } = "";

    /// <summary>
    /// 
    /// </summary>
    [Parameter] public TooltipsPositons Positon { get; set; } = TooltipsPositons.Top;

    /// <summary>
    /// Arbitrary HTML attributes e.g.: tabindex="1" will be passed to the corresponding rendered HTML element.
    /// </summary>
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; }

    private void HandleMouseOver() => _isVisible = true;
    private void HandleMouseOut() => _isVisible = false;
}