<div class="picker-container" style="background-color: rgb(0, 0, 0);">
  <div class="picker-color"></div>
  <span class="picker-handler" tabindex="0" style="left: 270px; top: 84.66px;"></span>
</div>

<input id="hue" type="range" min="0" max="360" step="1" />