.bnotify-normal-primary {
  background-color: #cce5ff;
  color: #0065d2;
  fill: #0065d2; }

.bnotify-outlined-primary {
  border: 2px solid #cce5ff;
  color: #0065d2;
  fill: #0065d2;
  background: white; }

.bnotify-strong-primary {
  background-color: #0065d2;
  color: #f7f7f7;
  fill: #f7f7f7; }

.bnotify-normal-secondary {
  background-color: #e2e3e5;
  color: #544f4f;
  fill: #544f4f; }

.bnotify-outlined-secondary {
  border: 2px solid #e2e3e5;
  color: #544f4f;
  fill: #544f4f;
  background: white; }

.bnotify-strong-secondary {
  background-color: #544f4f;
  color: #f7f7f7;
  fill: #f7f7f7; }

.bnotify-normal-info {
  background-color: #bfe4ea;
  color: #2083b3;
  fill: #2083b3; }

.bnotify-outlined-info {
  border: 2px solid #bfe4ea;
  color: #2083b3;
  fill: #2083b3;
  background: white; }

.bnotify-strong-info {
  background-color: #2083b3;
  color: #f7f7f7;
  fill: #f7f7f7; }

.bnotify-normal-success {
  background-color: #c3e6cb;
  color: #0a8e28;
  fill: #0a8e28; }

.bnotify-outlined-success {
  border: 2px solid #c3e6cb;
  color: #0a8e28;
  fill: #0a8e28;
  background: white; }

.bnotify-strong-success {
  background-color: #0a8e28;
  color: #f7f7f7;
  fill: #f7f7f7; }

.bnotify-normal-warning {
  background-color: #fdf2cf;
  color: #ffa500;
  fill: #ffa500; }

.bnotify-outlined-warning {
  border: 2px solid #fdf2cf;
  color: #ffa500;
  fill: #ffa500;
  background: white; }

.bnotify-strong-warning {
  background-color: #ffa500;
  color: #f7f7f7;
  fill: #f7f7f7; }

.bnotify-normal-danger {
  background-color: #f8d7da;
  color: #ff162c;
  fill: #ff162c; }

.bnotify-outlined-danger {
  border: 2px solid #f8d7da;
  color: #ff162c;
  fill: #ff162c;
  background: white; }

.bnotify-strong-danger {
  background-color: #ff162c;
  color: #f7f7f7;
  fill: #f7f7f7; }

.bnotify-normal-light {
  background-color: #fafafa;
  color: #818182;
  fill: #818182; }

.bnotify-outlined-light {
  border: 2px solid #fafafa;
  color: #818182;
  fill: #818182;
  background: white; }

.bnotify-strong-light {
  background-color: #818182;
  color: #f7f7f7;
  fill: #f7f7f7; }

.bnotify-normal-dark {
  background-color: #d0d0d0;
  color: #1b1e21;
  fill: #1b1e21; }

.bnotify-outlined-dark {
  border: 2px solid #d0d0d0;
  color: #1b1e21;
  fill: #1b1e21;
  background: white; }

.bnotify-strong-dark {
  background-color: #1b1e21;
  color: #f7f7f7;
  fill: #f7f7f7; }

.btoast-main {
  margin-bottom: 0.5em;
  border-radius: 0.25rem;
  outline: 0;
  transition: opacity 0.8s; }

.btoast-body {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  outline: 0;
  position: relative; }

.btoast-body .btoast-text {
  padding: 0.6em 0;
  margin: 0 0.6em; }

.btoast-body .btoast-img {
  padding: 0.6em 0;
  margin: 0 0.2em 0 0.7em;
  width: 24px;
  display: flex;
  border: 0;
  outline: none; }

.btoast-progress {
  width: 0px;
  height: 0.2em;
  border-radius: 0 0 .25rem .25rem; }

.btoast-progress.primary {
  background-color: #0065d2; }

.btoast-progress.secondary {
  background-color: #544f4f; }

.btoast-progress.info {
  background-color: #2083b3; }

.btoast-progress.success {
  background-color: #0a8e28; }

.btoast-progress.warning {
  background-color: #ffa500; }

.btoast-progress.danger {
  background-color: #ff162c; }

.btoast-progress.light {
  background-color: #818182; }

.btoast-progress.dark {
  background-color: #1b1e21; }

.btoast-progress.strong {
  background-color: #f7f7f7; }

.btoast-progress.start {
  width: 100% !important; }

.btoast-body .close {
  margin: 0 0 0 auto;
  padding: 0.4em 0.5em;
  outline: none;
  border: 0;
  font-size: 1.5rem;
  z-index: 5;
  color: inherit;
  display: flex; }

.btoast-body .close.strong {
  font-weight: normal;
  color: #f7f7f7; }

.btoast-body .close:hover {
  color: #1c1b1b; }

.btoast-body .close.strong:hover {
  color: white; }
