@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
		<NavMenu AppName="Blazor Components (WA)" />
	</div>

	<div class="main">
		<div class="top-row px-4">
			<a href="https://github.com/majorimi/blazor-components" target="_blank" class="ml-md-auto">About</a>
		</div>

		<div class="content px-4">
			@Body
		</div>
	</div>


	@*Toast container initialized once per application at the bottom of the rendered HTML in order to work with all Relative elements!!*@
	<ToastContainer />
</div>

@*Permalink initialize*@
@using Majorsoft.Blazor.Components.PermaLink
<PermalinkBlazorWasmInitializer SmoothScroll="false" />

@* Google Analytics initialize*@
@using Majorsoft.Blazor.Extensions.Analytics.Google
@*<GoogleAnalyticsInitializer TrackingId="G-1QD2VGTEWX" />*@

@*Toasts settings*@
@inject IToastService _toastService

@code { 
	protected override void OnInitialized()
	{
		//Common settings can be set globally for ToastContainer and Toasts in IToastService
		_toastService.GlobalSettings.Position = ToastPositions.TopRight;
		_toastService.GlobalSettings.RemoveToastsOnNavigation = true;
		_toastService.GlobalSettings.Width = 420;
		_toastService.GlobalSettings.PaddingFromSide = -1;
		_toastService.GlobalSettings.PaddingFromTopOrBottom = -1;

		ToastContainerGlobalSettings.DefaultToastsAutoCloseInSec = 12;
	}
}