.bmodal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    z-index: 1000;
    /*text-align: center;*/
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.bmodal .bmodal-content {
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 1rem auto;
    z-index: 1001;
    box-shadow: 2px 2px 10px 1px #aaaaaa;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    background-color: #fff;
    outline: 0;
}

.bmodal .bmodal-content .close {
    margin: 0 0 0 auto;
    outline: none;
    border: 0;
    font-size: 1.5rem;
}

.bmodal .bmodal-content .bmodal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
.bmodal .bmodal-content .bmodal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}
.bmodal .bmodal-content .bmodal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}