<div class="container-fluid p-3 mb-3 border rounded">
    <PermaLinkElement PermaLinkName="toasts" IconActions="PermaLinkIconActions.Copy|PermaLinkIconActions.Navigate" IconMarginTop="8" IconSize="18">
        <Content><h3>Toast</h3></Content>
    </PermaLinkElement>
    <p>
        Renders <strong><code>Toast</code> component </strong> which is a user friendly Notification to show important application messages.
        Importance can be emphasized by <code>Type</code> and <code>NotificationStyle</code> styling with customizable content.
        Alerts can close itself automatically or let user close them, etc.
    </p>

    @*It MUST be applied only once in a common place e.g.: Layout page, etc.*@
    <ToastContainer Position="ToastPositions.TopRight"></ToastContainer>
</div>

@code {

}