<Tooltip Text="heee">
    <h3>Tooltips</h3>
</Tooltip>

<div>
    <Tooltip Text="hhhhhhhhhhhhhhhhhhhheeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee">
        <button class="btn btn-primary">Click</button>
    </Tooltip>
</div>


@code {

}
