.loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.9;
    z-index: 999;
    text-align: center;
}

.loading-content {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 1000;
}