<div class="loading" style="background-color: @OverlayBackgroundColor?.ToLower();" hidden="@(!_isLoading)" @attributes=AllOtherAttributes>
	<div class="loading-content">@(LoadingContent)</div>	
</div>

@code {
	[Parameter]
	public RenderFragment LoadingContent { get; set; }

	[Parameter]
	public string OverlayBackgroundColor { get; set; } = "gray";

	[Parameter(CaptureUnmatchedValues = true)]
	public Dictionary<string, object> AllOtherAttributes { get; set; }

	[Parameter] 
	public EventCallback OnLoading { get; set; }

	private bool _isLoading = false;
	protected override async Task OnInitializedAsync()
	{
		_isLoading = true;

		try
		{
			if(OnLoading.HasDelegate)
			{
				await OnLoading.InvokeAsync();
			}
		}
		finally
		{
			_isLoading = false;
		}
	}

	public void Set() => _isLoading = true;
	public void Reset() => _isLoading = false;
}