<h1>ASP.NET Blazor Components</h1>

<p>
    <strong>Blazor Components</strong> is a set of <strong>UI Components</strong> and other useful <strong>Extensions</strong> for <a href="https://blazor.net/" target="_blank">Blazor</a> applications. 
    All components are available on <a href="https://www.nuget.org/profiles/Blazor.Components" target="_blank">NuGet</a>.
</p>
<p>
    Detailed descriptions are available on <a href="https://www.nuget.org/profiles/Blazor.Components" target="_blank">NuGet</a>
    on separated readme files. Please follow the link provided on each bullet points.
</p>

<p>
    <h2>Extensions</h2>
    <ul>
        <li></li>
    </ul>
</p>

<p>
    <h2>Components</h2>
    <ul>
        <li></li>
    </ul>
</p>