<h1>Timer Component</h1>
<p>
    Blazor component that can be used for scheduled and periodically repeated tasks to call custom code. For usege see soruce code and docs on 
    <a href="https://github.com/majorimi/blazor-components/blob/master/.github/docs/Timer.md" target="_blank">Github</a>.
</p>

@code {

}
