@inherits LayoutComponentBase

<div>
    <NavMenu AppName="Blazor Components (WA)" />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/majorimi/blazor-components" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>