@inherits LayoutComponentBase

<div>
	<NavMenu AppName="Blazor Components (Server)"/>
</div>

<div class="main">
	<div class="top-row px-4">
		<a href="https://github.com/majorimi/blazor-components" target="_blank">About</a>
	</div>

	<div class="content px-4">
		@Body
	</div>
</div>

@using Blazor.Server.Logging.Console;
@inject IJSRuntime _runtime;

@using Blazor.Components.PermaLink
@using Microsoft.Extensions.Logging
@using Blazor.Components.Common.JsInterop.Scroll
@using Microsoft.AspNetCore.Components.Routing
@inject IScrollHandler _scrollHandler
@inject NavigationManager _navigationManager
@inject ILogger<IPermaLinkWatcherService> _logger

@implements IDisposable

@code{
	private IPermaLinkWatcherService _permalinkWatcher;
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if(firstRender)
		{
			//setup logger
			BrowserConsoleLoggerProvider.SetLogger(_runtime);

			//setup permalink
			_permalinkWatcher = new PermaLinkWatcherService(_scrollHandler, _navigationManager, _logger);
			_permalinkWatcher.WatchPermaLinks();
		}
	}

	public void Dispose()
	{
		_permalinkWatcher?.Dispose();
	}
}