@import "wwwroot/_notifications.scss";

.balert-main {
    border-radius: .25rem;
    outline: 0;
    transition: opacity 0.35s;
}
.bnotify-normal-primary {
    background-color: $primaryBackgroundColor;
    color: $primaryTextColor;
}
.bnotify-outlined-primary {
    border: 2px solid $primaryBackgroundColor;
    color: $primaryTextColor;
}
.bnotify-strong-primary {
    background-color: $primaryTextColor;
    color: $strongStyleColor;
}
.bnotify-normal-secondary {
    background-color: $secondaryBackgroundColor;
    color: $secondaryTextColor;
}
.bnotify-outlined-secondary {
    border: 2px solid $secondaryBackgroundColor;
    color: $secondaryTextColor;
}
.bnotify-strong-secondary {
    background-color: $secondaryTextColor;
    color: $strongStyleColor;
}
.bnotify-normal-info {
    background-color: $infoBackgroundColor;
    color: $infoTextColor;
}
.bnotify-outlined-info {
    border: 2px solid $infoBackgroundColor;
    color: $infoTextColor;
}
.bnotify-strong-info {
    background-color: $infoTextColor;
    color: $strongStyleColor;
}
.bnotify-normal-success {
    background-color: $successBackgroundColor;
    color: $successTextColor;
}
.bnotify-outlined-success {
    border: 2px solid $successBackgroundColor;
    color: $successTextColor;
}
.bnotify-strong-success {
    background-color: $secondaryTextColor;
    color: $strongStyleColor;
}
.bnotify-normal-warning {
    background-color: $warningBackgroundColor;
    color: $warningTextColor;
}
.bnotify-outlined-warning {
    border: 2px solid $warningBackgroundColor;
    color: $warningTextColor;
}
.bnotify-strong-warning {
    background-color: $warningTextColor;
    color: $strongStyleColor;
}
.bnotify-normal-danger {
    background-color: $dangerBackgroundColor;
    color: $dangerTextColor;
}
.bnotify-outlined-danger {
    border: 2px solid $dangerBackgroundColor;
    color: $dangerTextColor;
}
.bnotify-strong-danger {
    background-color: $dangerTextColor;
    color: $strongStyleColor;
}
.bnotify-normal-light {
    background-color: $lightBackgroundColor;
    color: $lightTextColor;
}
.bnotify-outlined-light {
    border: 2px solid $lightBackgroundColor;
    color: $lightTextColor;
}
.bnotify-strong-light {
    background-color: $lightTextColor;
    color: $strongStyleColor;
}
.bnotify-normal-dark {
    background-color: $darkBackgroundColor;
    color: $darkTextColor;
}
.bnotify-outlined-dark {
    border: 2px solid $darkBackgroundColor;
    color: $darkTextColor;
}
.bnotify-strong-dark {
    background-color: $darkTextColor;
    color: $strongStyleColor;
}

.balert-body {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    outline: 0;
    position: relative;
}
.balert-body .balert-text {
    padding: 0.6em 0;
    margin: 0 0.7em;
}


.balert-progress {
    width: 0px;
    height: 0.2em;
}
.balert-progress.primary {
    background-color: $primaryTextColor;
}
.balert-progress.secondary {
    background-color: $secondaryTextColor;
}
.balert-progress.info {
    background-color: $infoTextColor;
}
.balert-progress.success {
    background-color: $successTextColor;
}
.balert-progress.warning {
    background-color: $warningTextColor;
}
.balert-progress.danger {
    background-color: $dangerTextColor;
}
.balert-progress.light {
    background-color: $lightTextColor;
}
.balert-progress.dark {
    background-color: $darkTextColor;
}

.balert-progress.strong {
    background-color: $strongStyleColor;
}

.balert-progress.start {
    width: 100% !important;
}

.balert-body .close {
    margin: 0 0 0 auto;
    padding: 0 0.5em;
    outline: none;
    border: 0;
    font-size: 1.5rem;
    z-index: 5;
    color: inherit;
}
.balert-body .close:hover {
    color: #1c1b1b;
}
.balert-body .close.strong:hover {
    color: $strongStyleColor;
}