@import "wwwroot/_notifications.scss";

.balert {
    margin-left: auto;
    margin-right: auto;
    /*display: block;*/
    display: flex;
    outline: 0;
    position: relative;
    justify-content: center;
    border-radius: 3px;
}
.balert-normal {
    background-color: $normalBackgroundColor;
}
.balert-info {
    background-color: $infoBackgroundColor;
}
.balert-success {
    background-color: $successBackgroundColor;
}
.balert-warning {
    background-color: $warningBackgroundColor;
}
.balert-error {
    background-color: $errorBackgroundColor;
}

.balert .balert-text {
    padding: 0.6em 0;
    margin: 0 0.7em;
}

.balert .balert-text-normal {
    color: $normalTextColor;
}
.balert .balert-text-info {
    color: $infoTextColor;
}
.balert .balert-text-success {
    color: $successTextColor;
}
.balert .balert-text-warning {
    color: $warningTextColor;
}
.balert .balert-text-error {
    color: $errorTextColor;
}


.balert-progress {
    width: 0px;
    height: 0.2em;
}
.balert-progress.normal {
    background-color: $normalTextColor;
}

.balert-progress.info {
    background-color: $infoTextColor;
}

.balert-progress.success {
    background-color: $successTextColor;
}

.balert-progress.warning {
    background-color: $warningTextColor;
}

.balert-progress.error {
    background-color: $errorTextColor;
}

.balert-progress.start {
    width: 100% !important;
}

.balert .close {
    margin: 0 0 0 auto;
    padding: 0 0.5em;
    outline: none;
    border: 0;
    font-size: 1.3rem;
}