@import "wwwroot/_notifications.scss";

.balert {
    margin-left: auto;
    margin-right: auto;
    /*display: block;*/
    display:flex;
    outline: 0;
    position: relative;
    justify-content: center;
}
.balert-normal {
    background-color: $normalBackgroundColor;
}
.balert-info {
    background-color: $infoBackgroundColor;
}


.balert .balert-text {
    padding: 0.6em 0;
}

.balert .balert-text-normal {
    color: $normalTextColor;
}
.balert .balert-text-info {
    color: $infoTextColor;
}


.balert .close {
    margin: 0 0 0 auto;
    padding: 0 0.5em;
    outline: none;
    border: 0;
    font-size: 1.3rem;
}