input[type=range] {
    outline: 0;
    -webkit-appearance: none;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /*border: 1px solid lightgray;*/
    border: none;
    box-shadow: 1px 1px 2px 1px #8f8f8f, 0px 0px 2px 1px #8f8f8f;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    /*border: 2px solid #FFFFFF;*/
    border: none;
    box-shadow: 1px 1px 2px 1px #8f8f8f, 0px 0px 2px 1px #8f8f8f;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    /*border: 2px solid #FFFFFF;*/
    border: none;
    box-shadow: 1px 1px 2px 1px #8f8f8f, 0px 0px 2px 1px #8f8f8f;
}