@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu AppName="Blazor Components (WA)" />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://github.com/majorimi/blazor-components" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@using Blazor.Components.PermaLink
@inject IPermaLinkWatcherService _permalinkWatcher
@implements IDisposable

@code {
    protected override void OnInitialized()
    {
        _permalinkWatcher.WatchPermaLinks();
    }

    public void Dispose()
    {
        _permalinkWatcher.Dispose();
    }
}