$normalBackgroundColor: #f4f4f4;
$normalTextColor: #525252;

$infoBackgroundColor: #f2f9ff;
$infoTextColor: #399ef2;

$successBackgroundColor: #f0fcf6;
$successTextColor: #28ce73;

$warningBackgroundColor: #fff7f1;
$warningTextColor: #ffa42c;

$errorBackgroundColor: #fff4f2;
$errorTextColor: #f6534a;