@*Scroll on page components wrapped into it's own component and applied on some demo pages*@

@if (ShowScrollToBottom)
{
    <ScrollToPageBottom VisibleFromPagePercentage="2" VisibleUntilPagePercentage="75" SmootScroll="true">
        <Content>
            <div style="background:whitesmoke; border-radius:16px; width: 32px; height:32px; box-shadow: rgb(0 0 0 / 25%) 0px 3px 6px 0px;">
                <i style="padding-left: 6px; padding-top:2px;" class="fas fa-2x fa-angle-down"></i>
            </div>
        </Content>
    </ScrollToPageBottom>
}

<ScrollToPageTop VisibleFromPagePercentage="20" SmootScroll="true">
    <Content>
        <div style="background:whitesmoke; border-radius:16px; width: 32px; height:32px; box-shadow: rgb(0 0 0 / 25%) 0px 3px 6px 0px;">
            <i style="padding-left: 6px; padding-bottom:2px;" class="fas fa-2x fa-angle-up"></i>
        </div>
    </Content>
</ScrollToPageTop>

@code {
    [Parameter] public bool ShowScrollToBottom { get; set; } = true;
}