@*Scroll on page components wrapped into it's own component and applied on some demo pages*@
<ScrollToPageBottom VisibleFromPagePercentage="2" VisibleUntilPagePercentage="75">
    <Content>
        <div style="background:whitesmoke; border-radius:16px; width: 32px; height:32px; box-shadow: 1px 2px #e1dddd;">
            <i style="padding-left: 6px; padding-top:2px;" class="fas fa-2x fa-angle-down"></i>
        </div>
    </Content>
</ScrollToPageBottom>

<ScrollToPageTop VisibleFromPagePercentage="20">
    <Content>
        <div style="background:whitesmoke; border-radius:16px; width: 32px; height:32px; box-shadow: 1px 2px #e1dddd;">
            <i style="padding-left: 6px; padding-bottom:2px;" class="fas fa-2x fa-angle-up"></i>
        </div>
    </Content>
</ScrollToPageTop>