<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<div class="sidebar">
    <div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">@AppName</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-2">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="fa fa-lg fa-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="px-2">
                <div class="nav-group">
                    <span><i class="fa fa-lg fa-puzzle-piece" aria-hidden="true"></i>Extensions</span>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <NavLink class="nav-link" href="logger">Console logger</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="storage">Browser strorage</NavLink>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="px-2">
                <div class="nav-group">
                    <span><i class="fa fa-lg fa-pencil-alt" aria-hidden="true"></i>Inputs</span>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <NavLink class="nav-link" href="debounceinput">Debounce</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="typeahead">Typeahead</NavLink>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item px-2">
                <NavLink class="nav-link" href="timer">
                    <span class="fa fa-lg fa-stopwatch" aria-hidden="true"></span> Timer Component
                </NavLink>
            </li>
            <li class="nav-item px-2">
                <NavLink class="nav-link" href="loading">
                    <span class="fa fa-lg fa-spinner" aria-hidden="true"></span> Loading Components
                </NavLink>
            </li>
            <li class="px-2">
                <div class="nav-group">
                    <span><i class="fab fa-lg fa-js" aria-hidden="true"></i>JS Interop</span>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <NavLink class="nav-link" href="scrolljs">Scroll to element</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="focusjs">Focus element</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="clickjs">Click boundaries</NavLink>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item px-2">
                <NavLink class="nav-link" href="cssevents">
                    <span class="fab fa-lg fa-css3" aria-hidden="true"></span> CSS Events
                </NavLink>
            </li>
            <li class="nav-item px-2">
                <NavLink class="nav-link" href="modal">
                    <span class="fa fa-lg fa-window-maximize" aria-hidden="true"></span> Modal Dialog
                </NavLink>
            </li>
            <li class="nav-item px-2">
                <NavLink class="nav-link" href="color">
                    <span class="fa fa-lg fa-paint-brush" aria-hidden="true"></span> Color Picker
                </NavLink>
            </li>
        </ul>
    </div>
</div>

@using Microsoft.Extensions.Logging;
@inject ILogger<NavMenu> _logger;
@code {

    [Parameter] public string AppName { get; set; }

    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
        _logger.LogInformation($"Nav menu collapsed status changed: {(NavMenuCssClass ?? "opened")}");
    }
}
