
<div class="container-fluid p-3 mb-3 border rounded">
	<h3>CSS Animation events</h3>
	<p>
		Blazor <strong>Extension and Component wrapper</strong> to notify Blazor apps on CSS supported <strong>Animation</strong> events: <code>animationstart</code>, <code>animationiteration</code>, <code>animationend</code>.
		This is useful when you want to wait for a CSS Transition to finish and then continue run your code, e.g.: hide the element, etc. 
		<ul>
			<li><code>AnimationElement</code>: Convinient Blazor component which uses IAnimationEventsService to wrap around the given Content can listen for all or one animation Name.</li>
			<li><code>IAnimationEventsService</code>: Low level injectable service which has more features can aggregate events but must be DisposeAsync() manually.</li>
		</ul>
	</p>
</div>

@implements IAsyncDisposable

@inject ITransitionEventsService _transitionService1;
@code {

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{

		}
	}


	private string WriteLog(string log, TransitionEndEventArgs e, TimeSpan? eventTime = null)
	{
		return log 
			+= $"{eventTime ?? DateTime.Now.TimeOfDay}: Transition ended filter: '{e.OriginalPropertyNameFilter}', Type: '{e.Type}', PropertyName: '{e.PropertyName}', ElapsedTime: '{e.ElapsedTime}', ReturnValue '{e.ReturnValue}'. \r\n";
	}

	public async ValueTask DisposeAsync()
	{
		if(_transitionService1 is not null)
		{
			await _transitionService1.DisposeAsync();
		}
	}
}