<h1>Css Events</h1>

<p>
	Blazor Extensions and Components wrapper to notify on CSS Transition and Animation events. For usege see soruce code and docs on
	<a href="https://github.com/majorimi/blazor-components/blob/master/.github/docs/CssEvents.md" target="_blank">Github</a>.
	<br /><strong>Blazor.Components.CssEvents</strong> package is available on <a href="https://www.nuget.org/packages/Majorsoft.Blazor.Components.CssEvents" target="_blank">Nuget</a>
</p>

<CssEventsTransition />

<CssEventsAnimation />