<h1>Tabs Components</h1>
<p>
	Blazor component that renders customizable Tabs panel with many tabs and custom content. For usege see soruce code and docs on
	<a href="https://github.com/majorimi/blazor-components/blob/master/.github/docs/Tabs.md" target="_blank">Github</a>.
	<br /><strong>Majorsoft.Blazor.Components.Tabs</strong> package is available on <a href="https://www.nuget.org/packages/Majorsoft.Blazor.Components.Tabs" target="_blank">Nuget</a>
</p>

<div class="container-fluid p-3 mb-3 border rounded">
	<TabsPanel>
		<TabItems>
			<TabItem>
				<Header>Tab 1</Header>
				<Content>
					<h1>The first tab</h1>
				</Content>
			</TabItem>
			<TabItem>
				<Header>Tab 2</Header>
				<Content>
					<h1>The second tab</h1>
				</Content>
			</TabItem>
			<TabItem Disabled="true">
				<Header>Tab 3</Header>
				<Content>
					<h1>The third tab</h1>
				</Content>
			</TabItem>
		</TabItems>
	</TabsPanel>
</div>

@code {

}