<h1>Tabs Components</h1>
<p>
	Blazor component that renders customizable Tabs panel with many tabs and custom content. For usege see soruce code and docs on
	<a href="https://github.com/majorimi/blazor-components/blob/master/.github/docs/Tabs.md" target="_blank">Github</a>.
	<br /><strong>Majorsoft.Blazor.Components.Tabs</strong> package is available on <a href="https://www.nuget.org/packages/Majorsoft.Blazor.Components.Tabs" target="_blank">Nuget</a>
</p>

<div class="container-fluid p-3 mb-3 border rounded">

</div>

@code {

}