<h1>Toggler Components</h1>
<p>
	Blazor component that renders customizable Toggle switch and Toggle button components. For usege see soruce code and docs on 
	<a href="https://github.com/majorimi/blazor-components/blob/master/.github/docs/Toggle.md" target="_blank">Github</a>.
	<br /><strong>Majorsoft.Blazor.Components.Toggle</strong> package is available on <a href="https://www.nuget.org/packages/Majorsoft.Blazor.Components.Toggle" target="_blank">Nuget</a>
</p>

<div class="container-fluid p-3 mb-3 border rounded">
	<ToggleSwitch></ToggleSwitch>
</div>

<div class="container-fluid p-3 mb-3 border rounded">
</div>

@code {
	
}