<PageScroll />

<h1>Drag and Drop Component</h1>
<p>
    Blazor component that renders wrapper components to enables Drag and Drop in Blazor Apps. For usage see source code and docs on
    <a href="https://github.com/majorimi/blazor-components/blob/master/.github/docs/DragAndDrop.md" target="_blank">Github</a>.
    <br /><strong>Majorsoft.Blazor.Components.DragAndDrop</strong> package is available on <a href="https://www.nuget.org/packages/Majorsoft.Blazor.Components.DragAndDrop" target="_blank">Nuget</a>
</p>

<div class="container-fluid p-3 mb-3 border rounded">
    <h3>TODO list with Drag and Drop</h3>
    <p></p>

</div>

@code {

}
