<PageScroll />

<h1>ASP.NET Blazor Components</h1>

<p>
	<strong>Blazor Components</strong> is a set of <strong>UI Components</strong> and other useful <strong>Extensions</strong> for <a href="https://blazor.net/" target="_blank">Blazor</a> applications. 
	All components are available on <a href="https://www.nuget.org/profiles/Blazor.Components" target="_blank">NuGet</a>.
</p>
<p>
	Detailed descriptions and source code are available on <a href="https://github.com/majorimi/blazor-components" target="_blank">Github</a>
	on separated readme files. Please follow the link provided on each bullet points. Also check out the 
	<a href="https://github.com/majorimi/blazor-components/wiki" target="_blank">Project Wiki</a> page to see the full list of planned components and extensions.
</p>

<p>
	<h2>Extensions:</h2>
	<ul>
		<li><NavLink href="logger">Browser Console logger</NavLink></li>
		<li>
			<NavLink href="browserstorage">Browser Storage</NavLink>
			<ul>
				<li><NavLink href="browserstorage#local">Local Storage</NavLink></li>
				<li><NavLink href="browserstorage#session">Session Storage</NavLink></li>
				<li><NavLink href="browserstorage#cookie">Cookie Store</NavLink></li>
			</ul>
		</li>
	</ul>
</p>

<p>
	<h2>Components:</h2>
	<ul>
		<li><NavLink href="debounceinput">Debounce Inputs</NavLink></li>
		<li><NavLink href="typeahead">Typeahead Inputs</NavLink></li>
		<li><NavLink href="maxLengthInput">Max allowed length with Counter Inputs</NavLink></li>
		<li><NavLink href="timer">Timer Component</NavLink></li>
		<li><NavLink href="loading">Loading and Overlay Components</NavLink></li>
		<li>
			<NavLink href="jsinterop">Js Interop controls and extensions</NavLink>
			<ul>
				<li><NavLink href="jsinterop#click-js">Click Js</NavLink></li>
				<li><NavLink href="jsinterop#mouse-js">Mouse Js</NavLink></li>
				<li><NavLink href="jsinterop#focus-js">Focus Js</NavLink></li>
				<li><NavLink href="jsinterop#info-js">Element info Js</NavLink></li>
				<li><NavLink href="jsinterop#scroll-js">Scroll Js</NavLink></li>
				<li><NavLink href="jsinterop#resize-js">Resize Js</NavLink></li>
				<li><NavLink href="jsinterop#clipboard-js">Clipboard Js</NavLink></li>
				<li><NavLink href="jsinterop#lang-js">Language Js</NavLink></li>
				<li><NavLink href="jsinterop#date-js">Browser Date Js</NavLink></li>
				<li><NavLink href="jsinterop#theme-js">Browser Theme Js</NavLink></li>
				<li><NavLink href="jsinterop#geo-js">Geo Js</NavLink></li>
				<li><NavLink href="jsinterop#head-js">Head Js</NavLink></li>
				<li><NavLink href="jsinterop#history-js">Browser History Js</NavLink></li>
			</ul>
		</li>
		<li>
			<NavLink href="cssevents">CSS Events</NavLink>
			<ul>
				<li><NavLink href="cssevents#transition">CSS Transition</NavLink></li>
				<li><NavLink href="cssevents#animation">CSS Animation</NavLink></li>
			</ul>
		</li>
		<li><NavLink href="modal">Modal Dialog</NavLink></li>
		<li>
			<NavLink href="permalink">Permalink navigation</NavLink>
			<ul>
				<li><NavLink href="permalink#does-not_exists">Non existing permalink</NavLink></li>
				<li><NavLink href="permalink#standard-a-tag">Standard &lt;a&gt; tag</NavLink></li>
				<li><NavLink href="permalink#PermaLink-Element-wrapper">Customizable PermaLinkElement</NavLink></li>
			</ul>
		</li>
		<li>
			<NavLink href="maps">Maps</NavLink>
			<ul>
				<li><NavLink href="maps#google-maps">Google</NavLink></li>
				<li><NavLink href="maps#bing-maps">Bing</NavLink></li>
			</ul>
		</li>
		<li>
			<NavLink href="toggle">Toggle</NavLink>
			<ul>
				<li><NavLink href="toggle#switch">Toggle switch</NavLink></li>
				<li><NavLink href="toggle#toggle-button">Toggle button</NavLink></li>
				<li><NavLink href="toggle#toggle-buttongroup">Toggle button group</NavLink></li>
			</ul>
		</li>
		<li><NavLink href="tabs">Tabs</NavLink></li>
		<li>
			<NavLink href="collapse">Collapse</NavLink>
			<ul>
				<li><NavLink href="collapse#collapsePanel">Collapse Panel</NavLink></li>
				<li><NavLink href="collapse#accordion">Accordion</NavLink></li>
			</ul>
		</li>
		<li><NavLink href="gdpr">GDPR Consents</NavLink></li>
		<li>
			<NavLink href="notifications">Notifications</NavLink>
			<ul>
				<li><NavLink href="notifications#alerts">Alert</NavLink></li>
				<li><NavLink href="notifications#toasts">Toast</NavLink></li>
				<li><NavLink href="notifications#htmlnotification">Html5 Notification</NavLink></li>
			</ul>
		</li>
		<li>
			<NavLink href="tooltips">Tooltips</NavLink>
			<ul>
				<li><NavLink href="tooltips#tooltip">Tooltip</NavLink></li>
				<li><NavLink href="tooltips#popover">Popover</NavLink></li>
			</ul>
		</li>
		@*<li><NavLink href="draganddrop">Drag and Drop</NavLink></li>
		<li><NavLink href="colorpicker">Color Picker</NavLink></li>*@
	</ul>
</p>