<h1>Map Components</h1>

<p>
	Blazor components renders Google/Bing maps wrapped into Blazor components allowing to mange maps with .Net. For usage see source code and docs on
	<a href="https://github.com/majorimi/blazor-components/blob/master/.github/docs/Maps.md" target="_blank">Github</a>.
	<br /><strong>Majorsoft.Blazor.Components.Maps</strong> package is available on <a href="https://www.nuget.org/packages/Majorsoft.Blazor.Components.Maps" target="_blank">Nuget</a>
</p>

<div>
	<h3>JS Interop features:</h3>
	<ul>
		<li><NavLink href="maps#google-maps">Google Maps</NavLink></li>
		<li><NavLink href="maps#bing-maps">Bing Maps</NavLink></li>
	</ul>
</div>

<div class="container-fluid p-3 mb-3 border rounded">
	<PermaLinkElement PermaLinkName="google-maps" IconActions="PermaLinkIconActions.Copy|PermaLinkIconActions.Navigate" IconMarginTop="8" IconSize="18">
		<Content><h3>Google Maps</h3></Content>
	</PermaLinkElement>

	<p>

	</p>

</div>

<div class="container-fluid p-3 mb-3 border rounded">
	<PermaLinkElement PermaLinkName="bing-maps" IconActions="PermaLinkIconActions.Copy|PermaLinkIconActions.Navigate" IconMarginTop="8" IconSize="18">
		<Content><h3>Bing Maps</h3></Content>
	</PermaLinkElement>

	<p>

	</p>

</div>

@code {

}