<h1>Notifications</h1>
<PageScroll />

<p>
	Blazor <strong>injectable <code>INotificationService</code> service</strong> and components that renders customizable Alert and Toast notification message elements. For usage see source code and docs on
	<a href="https://github.com/majorimi/blazor-components/blob/master/.github/docs/Notifications.md" target="_blank">Github</a>.
	<br /><strong>Majorsoft.Blazor.Components.Notifications</strong> package is available on <a href="https://www.nuget.org/packages/Majorsoft.Blazor.Components.Notifications" target="_blank">Nuget</a>
</p>

<h3>Notification features:</h3>
<ul>
	<li><NavLink href="notifications#alerts">Alert</NavLink></li>
	<li><NavLink href="notifications#toasts">Toast</NavLink></li>
	<li><NavLink href="notifications#htmlnotification">Html5 Notification</NavLink></li>
</ul>

<div class="container-fluid p-3 mb-3 border rounded">
	<PermaLinkElement PermaLinkName="alerts" IconActions="PermaLinkIconActions.Copy|PermaLinkIconActions.Navigate" IconMarginTop="8" IconSize="18">
		<Content><h3>Alert</h3></Content>
	</PermaLinkElement>
	<p>Renders <strong><code>CollapsePanel</code> component </strong> which is an <strong> Expandable and Collapsible panel</strong> with custumizable header and content.</p>

</div>

<div class="container-fluid p-3 mb-3 border rounded">
	<PermaLinkElement PermaLinkName="toasts" IconActions="PermaLinkIconActions.Copy|PermaLinkIconActions.Navigate" IconMarginTop="8" IconSize="18">
		<Content><h3>Toast</h3></Content>
	</PermaLinkElement>
	<p>Renders <strong><code>CollapsePanel</code> component </strong> which is an <strong> Expandable and Collapsible panel</strong> with custumizable header and content.</p>

</div>

<div class="container-fluid p-3 mb-3 border rounded">
	<PermaLinkElement PermaLinkName="htmlnotification" IconActions="PermaLinkIconActions.Copy|PermaLinkIconActions.Navigate" IconMarginTop="8" IconSize="18">
		<Content><h3>HTML5 Notification</h3></Content>
	</PermaLinkElement>
	<p>Renders <strong><code>CollapsePanel</code> component </strong> which is an <strong> Expandable and Collapsible panel</strong> with custumizable header and content.</p>

</div>

@code {

}