<Tooltip Text="heee">
    <h3>Tooltips</h3>
</Tooltip>

<Tooltip Text="hhhhhhhhhhhhhhhhhhhheeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee">
    <button class="btn btn-primary">Click</button>
</Tooltip>

@code {

}
